In [1]:
import pandas as pd
import numpy as np

In [13]:
headerInput = ['Hora', 'Temperature', 'Wind_Speed', 'Wind_Direction', 'Humidity', 'Air_Density', 'Rain_Status', 'Jardim_PMV','Jardim_Temp','Sala_PMV','Sala_Temp','Mezanino_PMV','Mezanino_Temp']
headerOutput = ['PortaSalaNorte','JanelaSalaNorte','PortaSalaLeste','JanelaSalaSul','JanelaSalaOeste','PortaCozinhaLeste','JanelaCozinhaSul','JanelaMezaninoNorte','JanelaMezaninoSul','JanelaMezaninoOeste']
header = headerInput+headerOutput

In [14]:
def is_better(dataFrame, it, PMV_label1, PMV_label2):
    """it = iterator"""
    it = int(it)
    if (it > 0 and it < (dataFrame['Hora'].count() - 1)):
        if ((abs(dataFrame.iloc[it - 1][PMV_label1]) >= abs(dataFrame.iloc[it][PMV_label1])) and
            (abs(dataFrame.iloc[it - 1][PMV_label2]) >= abs(dataFrame.iloc[it][PMV_label2]))):
            return True
        else:
            return False
    else:
        return False
    
    #return (dataFrame.iloc(it))

In [15]:
arquivo = pd.read_csv('Output_RN/v01_RN_t03.csv')

In [16]:
arquivo.describe()

,Hora,Temperature,Wind_Speed,Wind_Direction,Humidity,Air_Density,Rain_Status,Jardim_PMV,Jardim_Temp,Sala_PMV,...,PortaSalaNorte,JanelaSalaNorte,PortaSalaLeste,JanelaSalaSul,JanelaSalaOeste,PortaCozinhaLeste,JanelaCozinhaSul,JanelaMezaninoNorte,JanelaMezaninoSul,JanelaMezaninoOeste
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,...,8760.000000,8760.000000,8760.00000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,11.500000,19.547648,2.449098,150.917808,75.947945,1.170664,0.010845,-0.152427,22.719140,-1.066173,...,0.012097,0.406936,0.40750,0.412301,0.425517,0.398307,0.376361,0.387830,0.391428,0.417116
std,6.922582,6.038127,2.218589,103.558459,16.187339,0.034159,0.103578,1.139469,4.256751,1.197801,...,0.006710,0.133383,0.13056,0.135524,0.135664,0.127298,0.119375,0.125204,0.127213,0.136414
min,0.000000,-1.200000,0.000000,0.000000,16.000000,1.089685,0.000000,-4.069739,5.275757,-5.355970,...,0.010000,0.050000,0.06000,0.040000,0.060000,0.040000,0.040000,0.050000,0.040000,0.040000
25%,5.750000,15.200000,1.200000,90.000000,64.000000,1.144752,0.000000,-0.934696,19.744403,-1.872766,...,0.010000,0.390000,0.39000,0.390000,0.400000,0.380000,0.360000,0.360000,0.370000,0.400000
50%,11.500000,20.000000,2.100000,140.000000,79.000000,1.165789,0.000000,-0.071723,23.168910,-0.981861,...,0.010000,0.470000,0.46000,0.470000,0.480000,0.450000,0.430000,0.440000,0.450000,0.480000
75%,17.250000,24.000000,3.100000,230.000000,89.000000,1.195740,0.000000,0.671252,26.327817,-0.096527,...,0.010000,0.490000,0.49000,0.500000,0.510000,0.480000,0.450000,0.470000,0.470000,0.500000
max,23.000000,36.700000,49.300000,360.000000,100.000000,1.290899,1.000000,3.182151,33.478655,2.112766,...,0.070000,0.560000,0.56000,0.570000,0.590000,0.550000,0.530000,0.540000,0.550000,0.570000

In [17]:
arquivo.head()

,Hora,Temperature,Wind_Speed,Wind_Direction,Humidity,Air_Density,Rain_Status,Jardim_PMV,Jardim_Temp,Sala_PMV,...,PortaSalaNorte,JanelaSalaNorte,PortaSalaLeste,JanelaSalaSul,JanelaSalaOeste,PortaCozinhaLeste,JanelaCozinhaSul,JanelaMezaninoNorte,JanelaMezaninoSul,JanelaMezaninoOeste
0,0.0,16.4,1.9,0.0,74.0,1.186746,0.0,-0.842727,20.580153,-1.199479,...,0.03,0.08,0.09,0.08,0.09,0.09,0.09,0.08,0.08,0.08
1,1.0,16.1,2.2,0.0,76.0,1.189055,0.0,-1.588393,21.743141,-2.257871,...,0.03,0.07,0.08,0.07,0.08,0.08,0.08,0.07,0.07,0.07
2,2.0,15.7,2.4,0.0,79.0,1.190480,0.0,-1.413092,22.361438,-2.008999,...,0.04,0.06,0.06,0.06,0.07,0.06,0.06,0.06,0.06,0.06
3,3.0,15.3,2.6,0.0,82.0,1.191932,0.0,-1.314854,22.243303,-1.725005,...,0.04,0.06,0.06,0.05,0.07,0.06,0.06,0.06,0.05,0.05
4,4.0,14.9,2.9,0.0,84.0,1.194825,0.0,-1.358158,22.196779,-1.710467,...,0.04,0.06,0.06,0.05,0.06,0.06,0.06,0.06,0.05,0.05

In [18]:
selected = pd.DataFrame(columns=header)
c = 0
for i in xrange(1, arquivo['Hora'].count() - 1):
    if (is_better(arquivo, i, 'Sala_PMV', 'Mezanino_PMV')):
        c = c + 1
        selected = selected.append(arquivo.iloc[i])
    
print "Conforto: " +  str((c * 100.0)/8760.0) + "%" + " | total: " + str(c)

Conforto: 34.3493150685% | total: 3009