In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [2]:
header = ['Mes', 'Dia', 'Hora', 
         'Temperature', 'Wind_Speed', 'Wind_Direction', 'Humidity', 'Air_Density', 'Rain_Status',
         'AreaServico_PMV', 'AreaServico_Temp', 'Circulacao_PMV', 'Circulacao_Temp', 'Casal_PMV', 'Casal_Temp', 'Banheiro_PMV', 'Banheiro_Temp', 'Jardim_PMV', 'Jardim_Temp', 'Solteiro_PMV', 'Solteiro_Temp', 'Sala_PMV', 'Sala_Temp', 'Mezanino_PMV', 'Mezanino_Temp',
         'PortaServicoLeste', 'JanelaServicoSul', 'JanelaCasalNorte', 'PortaCasalOeste', 'JanelaCasalOeste', 'JanelaBanheiroLeste', 'PortaBanheiroOeste', 'JanelaJardimNorte', 'JanelaJardimLeste', 'JanelaSolteiroNorte', 'PortaSolteiroSul', 'JanelaSolteiroSul', 'PortaSalaNorte', 'JanelaSalaNorte', 'PortaSalaLeste', 'JanelaSalaSul', 'JanelaSalaOeste', 'PortaCozinhaLeste', 'JanelaCozinhaSul', 'JanelaMezaninoNorte', 'JanelaMezaninoSul', 'JanelaMezaninoOeste', 'JanelaSegundoSul' 
         ]
header_input = ['Hora', 'Temperature', 'Wind_Speed', 'Wind_Direction', 'Humidity', 'Air_Density', 'Rain_Status',
               'AreaServico_PMV', 'AreaServico_Temp', 'Circulacao_PMV', 'Circulacao_Temp', 'Casal_PMV', 'Casal_Temp', 'Banheiro_PMV', 'Banheiro_Temp', 'Jardim_PMV', 'Jardim_Temp', 'Solteiro_PMV', 'Solteiro_Temp', 'Sala_PMV', 'Sala_Temp', 'Mezanino_PMV', 'Mezanino_Temp'
               ]
header_output = [
                'PortaServicoLeste', 'JanelaServicoSul', 'JanelaCasalNorte', 'PortaCasalOeste', 'JanelaCasalOeste', 'JanelaBanheiroLeste', 'PortaBanheiroOeste', 'JanelaJardimNorte', 'JanelaJardimLeste', 'JanelaSolteiroNorte', 'PortaSolteiroSul', 'JanelaSolteiroSul', 'PortaSalaNorte', 'JanelaSalaNorte', 'PortaSalaLeste', 'JanelaSalaSul', 'JanelaSalaOeste', 'PortaCozinhaLeste', 'JanelaCozinhaSul', 'JanelaMezaninoNorte', 'JanelaMezaninoSul', 'JanelaMezaninoOeste', 'JanelaSegundoSul'
                ]
print len(header)
print (len(header_input))
print (len(header_output))

48
23
23

In [3]:
all1 = pd.read_csv('../Data/Canguçu/simulation_all1.csv')
all0 = pd.read_csv('../Data/Canguçu/simulation_all0.csv')

In [4]:
def is_better(dataFrame, it, PMV_label1, PMV_label2):
    """it = iterator"""
    it = int(it)
    if (it > 0 and it < (dataFrame['Mes'].count() - 1)):
        if ((abs(dataFrame.iloc[it - 1][PMV_label1]) >= abs(dataFrame.iloc[it][PMV_label1])) and
            (abs(dataFrame.iloc[it - 1][PMV_label2]) >= abs(dataFrame.iloc[it][PMV_label2]))):
            return True
        else:
            return False
    else:
        return False
    
    #return (dataFrame.iloc(it))

In [11]:
selected = pd.DataFrame(columns=header)
tot = 0
c = 0

for i in xrange(1, all1['Mes'].count() - 1):
    if (is_better(all1, i, 'Sala_PMV', 'Mezanino_PMV')):
        #print i
        c = c + 1
        selected = selected.append(all1.iloc[i])

print "All_1: " +  str((c * 100.0)/8760.0) + "%" + " | total: " + str(c)


tot = tot + c
c = 0
for i in xrange(1, all0['Mes'].count() - 1):
    if (is_better(all0, i, 'Sala_PMV', 'Mezanino_PMV')):
        #print i
        c = c + 1
        selected = selected.append(all0.iloc[i])

print "All_0: " +  str((c * 100.0)/8760.0) + "%" + " | total: " + str(c)

All_1: 36.1643835616% | total: 3168
All_0: 25.7876712329% | total: 2259

In [64]:
testes = ["%03d" % i for i in xrange(141, 151)]
print len(testes)

10

In [65]:
sel = pd.DataFrame(columns=header)
sel.describe()

,Mes,Dia,Hora,Temperature,Wind_Speed,Wind_Direction,Humidity,Air_Density,Rain_Status,AreaServico_PMV,...,JanelaSalaNorte,PortaSalaLeste,JanelaSalaSul,JanelaSalaOeste,PortaCozinhaLeste,JanelaCozinhaSul,JanelaMezaninoNorte,JanelaMezaninoSul,JanelaMezaninoOeste,JanelaSegundoSul
count,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
for arq in testes:
    arquivo = pd.read_csv('../Data/Canguçu/simulation_random_' + str(arq) +'.csv')
    tot = tot + c
    c = 0
    
    for i in xrange(1, arquivo['Mes'].count() - 1):
        if (is_better(arquivo, i, 'Sala_PMV', 'Mezanino_PMV')):
            c = c + 1
            sel = sel.append(arquivo.iloc[i])
    
    print "Random_" + str(arq) + ": " +  str((c * 100.0)/8760.0) + "%" + " | total: " + str(c)

selected = selected.append(sel)

Random_141: 39.0410958904% | total: 3420
Random_142: 39.1552511416% | total: 3430
Random_143: 39.2808219178% | total: 3441
Random_144: 38.4589041096% | total: 3369
Random_145: 39.1666666667% | total: 3431
Random_146: 38.6872146119% | total: 3389
Random_147: 38.7442922374% | total: 3394
Random_148: 38.9155251142% | total: 3409
Random_149: 39.5662100457% | total: 3466
Random_150: 38.6073059361% | total: 3382

In [67]:
selected.describe()

,Mes,Dia,Hora,Temperature,Wind_Speed,Wind_Direction,Humidity,Air_Density,Rain_Status,AreaServico_PMV,...,JanelaSalaNorte,PortaSalaLeste,JanelaSalaSul,JanelaSalaOeste,PortaCozinhaLeste,JanelaCozinhaSul,JanelaMezaninoNorte,JanelaMezaninoSul,JanelaMezaninoOeste,JanelaSegundoSul
count,516660.000000,516660.000000,516660.000000,516660.000000,516660.000000,516660.00000,516660.000000,516660.000000,516660.0,516660.000000,...,516660.000000,516660.000000,516660.000000,516660.000000,516660.000000,516660.000000,516660.000000,516660.000000,516660.000000,516660.0
mean,6.586331,15.536304,10.722702,17.038588,4.941556,165.38420,79.268320,1.137373,0.0,-1.996175,...,0.500946,0.500796,0.501030,0.500751,0.500122,0.500364,0.500331,0.500667,0.501247,0.0
std,3.437369,8.733945,5.530872,5.457410,2.021510,103.70141,16.816436,0.029417,0.0,1.128847,...,0.291605,0.291769,0.291578,0.291826,0.291869,0.291669,0.291756,0.291748,0.291557,0.0
min,1.000000,1.000000,0.000000,1.500000,0.400000,1.00000,25.000000,1.062356,0.0,-6.551123,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,4.000000,8.000000,7.000000,12.700000,3.500000,80.00000,66.000000,1.114718,0.0,-2.827729,...,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.0
50%,7.000000,15.000000,11.000000,17.600000,4.800000,139.00000,81.000000,1.133246,0.0,-1.927890,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.0
75%,10.000000,23.000000,14.000000,21.200000,6.200000,253.00000,96.000000,1.160150,0.0,-1.147934,...,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.750000,0.0
max,12.000000,31.000000,23.000000,32.600000,17.400000,360.00000,99.000000,1.222623,0.0,0.963122,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [68]:
total = shuffle(selected)

In [69]:
input_file = total[header_input]
output_file = total[header_output]

In [70]:
total.to_csv("Selected/v03_total.csv", index=False)
input_file.to_csv("Selected/v03_input.csv", index=False)
output_file.to_csv("Selected/v03_output.csv", index=False)

In [ ]:
total.describe()

In [18]:
all0['Temperature'].idxmin()

4612

In [19]:
all0.iloc[4612]

Mes                      7.000000
Dia                     12.000000
Hora                     4.000000
Temperature              1.500000
Wind_Speed               4.900000
Wind_Direction         299.000000
Humidity                99.000000
Air_Density              1.214668
Rain_Status              0.000000
AreaServico_PMV         -1.898431
AreaServico_Temp        16.127440
Circulacao_PMV          -1.565105
Circulacao_Temp         17.518529
Casal_PMV               -3.657721
Casal_Temp              19.481752
Banheiro_PMV            -2.524125
Banheiro_Temp           13.445211
Jardim_PMV              -2.425717
Jardim_Temp             13.586386
Solteiro_PMV            -3.270185
Solteiro_Temp           20.709248
Sala_PMV                -1.873544
Sala_Temp               19.015872
Mezanino_PMV            -1.613798
Mezanino_Temp           18.001001
PortaServicoLeste        0.000000
JanelaServicoSul         0.000000
JanelaCasalNorte         0.000000
PortaCasalOeste          0.000000
JanelaCasalOeste         0.000000
JanelaBanheiroLeste      0.000000
PortaBanheiroOeste       0.000000
JanelaJardimNorte        1.000000
JanelaJardimLeste        1.000000
JanelaSolteiroNorte      0.000000
PortaSolteiroSul         0.000000
JanelaSolteiroSul        0.000000
PortaSalaNorte           0.000000
JanelaSalaNorte          0.000000
PortaSalaLeste           0.000000
JanelaSalaSul            0.000000
JanelaSalaOeste          0.000000
PortaCozinhaLeste        0.000000
JanelaCozinhaSul         0.000000
JanelaMezaninoNorte      0.000000
JanelaMezaninoSul        0.000000
JanelaMezaninoOeste      0.000000
JanelaSegundoSul         0.000000
Name: 4612, dtype: float64