In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [2]:
header = ['Mes', 'Dia', 'Hora', 
         'Temperature', 'Wind_Speed', 'Wind_Direction', 'Humidity', 'Air_Density', 'Rain_Status',
         'AreaServico_PMV', 'AreaServico_Temp', 'Circulacao_PMV', 'Circulacao_Temp', 'Casal_PMV', 'Casal_Temp', 'Banheiro_PMV', 'Banheiro_Temp', 'Jardim_PMV', 'Jardim_Temp', 'Solteiro_PMV', 'Solteiro_Temp', 'Sala_PMV', 'Sala_Temp', 'Mezanino_PMV', 'Mezanino_Temp',
         'PortaServicoLeste', 'JanelaServicoSul', 'JanelaCasalNorte', 'PortaCasalOeste', 'JanelaCasalOeste', 'JanelaBanheiroLeste', 'PortaBanheiroOeste', 'JanelaJardimNorte', 'JanelaJardimLeste', 'JanelaSolteiroNorte', 'PortaSolteiroSul', 'JanelaSolteiroSul', 'PortaSalaNorte', 'JanelaSalaNorte', 'PortaSalaLeste', 'JanelaSalaSul', 'JanelaSalaOeste', 'PortaCozinhaLeste', 'JanelaCozinhaSul', 'JanelaMezaninoNorte', 'JanelaMezaninoSul', 'JanelaMezaninoOeste', 'JanelaSegundoSul' 
         ]
header_input = ['Hora', 'Temperature', 'Wind_Speed', 'Wind_Direction', 'Humidity', 'Air_Density',
               'AreaServico_PMV', 'AreaServico_Temp', 'Circulacao_PMV', 'Circulacao_Temp', 'Casal_PMV', 'Casal_Temp', 'Banheiro_PMV', 'Banheiro_Temp', 'Jardim_PMV', 'Jardim_Temp', 'Solteiro_PMV', 'Solteiro_Temp', 'Sala_PMV', 'Sala_Temp', 'Mezanino_PMV', 'Mezanino_Temp'
               ]
header_output = [
                'PortaServicoLeste', 'JanelaServicoSul', 'JanelaCasalNorte', 'PortaCasalOeste', 'JanelaCasalOeste', 'JanelaBanheiroLeste', 'PortaBanheiroOeste', 'JanelaJardimNorte', 'JanelaJardimLeste', 'JanelaSolteiroNorte', 'PortaSolteiroSul', 'JanelaSolteiroSul', 'PortaSalaNorte', 'JanelaSalaNorte', 'PortaSalaLeste', 'JanelaSalaSul', 'JanelaSalaOeste', 'PortaCozinhaLeste', 'JanelaCozinhaSul', 'JanelaMezaninoNorte', 'JanelaMezaninoSul', 'JanelaMezaninoOeste', 'JanelaSegundoSul'
                ]
print len(header)
print (len(header_input))
print (len(header_output))

48
23
23

In [4]:
all1 = pd.read_csv('../Data/Canguçu/simulation_all1.csv')
all0 = pd.read_csv('../Data/Canguçu/simulation_all0.csv')

In [5]:
def is_better(dataFrame, it, PMV_label1, PMV_label2):
    """it = iterator"""
    it = int(it)
    if (it > 0 and it < (dataFrame['Mes'].count() - 1)):
        if ((abs(dataFrame.iloc[it - 1][PMV_label1]) >= abs(dataFrame.iloc[it][PMV_label1])) and
            (abs(dataFrame.iloc[it - 1][PMV_label2]) >= abs(dataFrame.iloc[it][PMV_label2]))):
            return True
        else:
            return False
    else:
        return False
    
    #return (dataFrame.iloc(it))

In [8]:
testes = ["%03d" % i for i in xrange(1, 16)]
testes

['001',
 '002',
 '003',
 '004',
 '005',
 '006',
 '007',
 '008',
 '009',
 '010',
 '011',
 '012',
 '013',
 '014',
 '015']

In [10]:
selected = pd.DataFrame(columns=header)
tot = 0
c = 0

for i in xrange(1, all1['Mes'].count() - 1):
    if (is_better(all1, i, 'Sala_PMV', 'Mezanino_PMV')):
        #print i
        c = c + 1
        selected = selected.append(all1.iloc[i])

print "All_1: " +  str((c * 100.0)/8760.0) + "%" + " | total: " + str(c)


tot = tot + c
c = 0
for i in xrange(1, all0['Mes'].count() - 1):
    if (is_better(all0, i, 'Sala_PMV', 'Mezanino_PMV')):
        #print i
        c = c + 1
        selected = selected.append(all0.iloc[i])

print "All_0: " +  str((c * 100.0)/8760.0) + "%" + " | total: " + str(c)

for arq in testes:
    arquivo = pd.read_csv('../Data/Canguçu/simulation_random_' + str(arq) +'.csv')
    tot = tot + c
    c = 0
    
    for i in xrange(1, arquivo['Mes'].count() - 1):
        if (is_better(arquivo, i, 'Sala_PMV', 'Mezanino_PMV')):
            c = c + 1
            selected = selected.append(arquivo.iloc[i])
    
    print "Random_" + str(arq) + ": " +  str((c * 100.0)/8760.0) + "%" + " | total: " + str(c)

print tot

All_1: 36.1643835616% | total: 3168
All_0: 25.7876712329% | total: 2259
Random_001: 38.801369863% | total: 3399
Random_002: 38.9497716895% | total: 3412
Random_003: 38.7328767123% | total: 3393
Random_004: 38.4703196347% | total: 3370
Random_005: 39.1780821918% | total: 3432
Random_006: 39.1780821918% | total: 3432
Random_007: 39.0753424658% | total: 3423
Random_008: 38.7671232877% | total: 3396
Random_009: 38.7671232877% | total: 3396
Random_010: 38.7899543379% | total: 3398
Random_011: 38.801369863% | total: 3399
Random_012: 39.0410958904% | total: 3420
Random_013: 38.8242009132% | total: 3401
Random_014: 38.9497716895% | total: 3412
Random_015: 38.6529680365% | total: 3386
53110

In [11]:
total = shuffle(selected)

In [12]:
input_file = total[header_input]
output_file = total[header_output]

In [13]:
total.to_csv("Selected/v02_total.csv", index=False)
input_file.to_csv("Selected/v02_input.csv", index=False)
output_file.to_csv("Selected/v02_output.csv", index=False)

In [14]:
total.describe()

,Mes,Dia,Hora,Temperature,Wind_Speed,Wind_Direction,Humidity,Air_Density,Rain_Status,AreaServico_PMV,...,JanelaSalaNorte,PortaSalaLeste,JanelaSalaSul,JanelaSalaOeste,PortaCozinhaLeste,JanelaCozinhaSul,JanelaMezaninoNorte,JanelaMezaninoSul,JanelaMezaninoOeste,JanelaSegundoSul
count,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.0,56496.000000,...,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.000000,56496.0
mean,6.583050,15.549508,10.764904,17.066907,4.947508,165.177269,79.202368,1.137238,0.0,-1.952113,...,0.509101,0.509713,0.509236,0.507718,0.507833,0.507295,0.509551,0.507047,0.508023,0.0
std,3.429691,8.749115,5.530883,5.412886,2.020456,103.797876,16.810835,0.029219,0.0,1.152016,...,0.315555,0.315581,0.314529,0.315046,0.314776,0.315302,0.315345,0.315535,0.315029,0.0
min,1.000000,1.000000,0.000000,1.500000,0.400000,1.000000,26.000000,1.065861,0.0,-6.468506,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,4.000000,8.000000,7.000000,12.800000,3.500000,80.000000,66.000000,1.114809,0.0,-2.797877,...,0.230000,0.230000,0.230000,0.230000,0.230000,0.230000,0.230000,0.230000,0.230000,0.0
50%,7.000000,15.000000,11.000000,17.600000,4.800000,139.000000,81.000000,1.133189,0.0,-1.885727,...,0.510000,0.510000,0.510000,0.510000,0.510000,0.510000,0.510000,0.510000,0.510000,0.0
75%,10.000000,23.000000,14.000000,21.200000,6.200000,253.000000,96.000000,1.159774,0.0,-1.095028,...,0.790000,0.790000,0.780000,0.790000,0.780000,0.780000,0.790000,0.790000,0.790000,0.0
max,12.000000,31.000000,23.000000,31.300000,17.400000,360.000000,99.000000,1.222623,0.0,0.958425,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [18]:
all0['Temperature'].idxmin()

4612

In [19]:
all0.iloc[4612]

Mes                      7.000000
Dia                     12.000000
Hora                     4.000000
Temperature              1.500000
Wind_Speed               4.900000
Wind_Direction         299.000000
Humidity                99.000000
Air_Density              1.214668
Rain_Status              0.000000
AreaServico_PMV         -1.898431
AreaServico_Temp        16.127440
Circulacao_PMV          -1.565105
Circulacao_Temp         17.518529
Casal_PMV               -3.657721
Casal_Temp              19.481752
Banheiro_PMV            -2.524125
Banheiro_Temp           13.445211
Jardim_PMV              -2.425717
Jardim_Temp             13.586386
Solteiro_PMV            -3.270185
Solteiro_Temp           20.709248
Sala_PMV                -1.873544
Sala_Temp               19.015872
Mezanino_PMV            -1.613798
Mezanino_Temp           18.001001
PortaServicoLeste        0.000000
JanelaServicoSul         0.000000
JanelaCasalNorte         0.000000
PortaCasalOeste          0.000000
JanelaCasalOeste         0.000000
JanelaBanheiroLeste      0.000000
PortaBanheiroOeste       0.000000
JanelaJardimNorte        1.000000
JanelaJardimLeste        1.000000
JanelaSolteiroNorte      0.000000
PortaSolteiroSul         0.000000
JanelaSolteiroSul        0.000000
PortaSalaNorte           0.000000
JanelaSalaNorte          0.000000
PortaSalaLeste           0.000000
JanelaSalaSul            0.000000
JanelaSalaOeste          0.000000
PortaCozinhaLeste        0.000000
JanelaCozinhaSul         0.000000
JanelaMezaninoNorte      0.000000
JanelaMezaninoSul        0.000000
JanelaMezaninoOeste      0.000000
JanelaSegundoSul         0.000000
Name: 4612, dtype: float64